<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89288479574-10jocicjfpn0lsqjh02pjj6ebm27bpe4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89288479574-10jocicjfpn0lsqjh02pjj6ebm27bpe4</string>
	<key>API_KEY</key>
	<string>AIzaSyBgeERVJjaNnm2baQWQZSLIIcahb3Twmg8</string>
	<key>GCM_SENDER_ID</key>
	<string>89288479574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newhbsabshcvadhcv.DardeshFinal</string>
	<key>PROJECT_ID</key>
	<string>dardeshfinal</string>
	<key>STORAGE_BUCKET</key>
	<string>dardeshfinal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89288479574:ios:4b146cdbba00697d607cf7</string>
</dict>
</plist>